@import url("/static/css/structure.css");

html{
		color: #ffec9f;
		background-color: #000000;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: right bottom;
		background-image:url("");
		-webkit-background-size:180px 180px;
}

article{
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.75);
		background-image:url("");
}

a {
		color: #668cd9;
		font-weight: normal;
		text-decoration: none;
		padding: 0px;
		margin: 0px;
}

a:hover {
		color: #6060bf;
		font-weight: normal;
		text-decoration: none;
		padding: 0px;
		margin: 0px;
}

*:target{
	background-color: #313131;
}
